@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial';
    font-weight: 300;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    background: #1a1a19;
    cursor: default;
    overflow-x: hidden;
}

h1 {
    color: rgba(255, 255, 255, 0.7);
    font-size: max(30px, 5.5vw);
}

h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: max(20px, 3.5vw);
}

h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: max(15px, 2.3vw);
}

h5 {
    color: rgba(255, 255, 255, 0.7);
    font-size: max(10px, 1.2vw);
}

span {
    color: rgba(255, 255, 255, 0.7);
    font-size: max(15px, 1.3vw);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 217, 0);
}

/* intro */
.section-intro {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
}

.section-intro img {
    display: flex;
    width: 100%;
    height: 40%;
    z-index: 0;
}

.opacity-img { 
    opacity: 30%;
    width: 100%;
    height: 100vh;
    background-image: url(../ressources/images/pexels-pixabay-270632.jpg);
    background-size: cover;
}

.div-intro {
    position:absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    flex-direction: column;
}

.intro-position span a {
    font-size: max(15px, 1.3vw);;
}

/* about */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.intro-txt {
    color: white;
    font-size: max(16px, 1vw);
    line-height: 2;
    width: 90%;
}

.skill-bars span {
    color: black;
    font-size: max(15px, 1.2vw);
}

.skill-bars strong {
    color: black;
    font-size: max(20px, 1.5vw);
    
}

/*media query*/
@media screen and (max-width: 600px) {
    h5 {font-size: 20px;}
    h1 {font-size: 40px;}
    h2 {font-size: 30px;}

    .intro-position {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro-txt {
        font-size: max(13px, 1vw);
        width: 80%;
    }
}

@media screen and (max-width: 1350px) {
    h5 {font-size: 20px;}
}