body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section#mentions {
    margin-top: 100px;
    min-height: max-content;
    max-width: 95%;
}
section .textes {margin: 20px 0 0 20px;}

h1 {
    font-size: 40px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
}

strong {
    font-weight: 800;
}

section#mentions a {
    text-decoration: underline;
}

.dark-os {
    color: white;
}

.dark-os-h {
    color: rgba(255, 255, 255, 0.7);
}

.white-os {
    background-color: azure;
}

.white-os-h {
    color: rgb(31, 31, 31);
}