:root {
    --colorT: #ffff;
    --colorM: #f7f7f5;
    --colorA:  #eff205;
    --colorBorder:  #bdbdbc;
    --colorBorder2: #f0f0ee;
}

.section-veille {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1800px;
    margin: auto;
    overflow: hidden;
}

.dev-veille {
    margin-bottom: 5vh;
}

.titre {
    display: flex;
    font-size: 35px;
    font-weight: 300;
    color: var(--colorT);
}

.veille-ia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin: 20px auto;
}

.veille-securisationDesApps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin: 20px auto;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 700px;
    border: 3px solid var(--colorBorder);
    border-radius: 5px;
    text-align: center;
    flex-wrap: wrap;
}

.titre-article {
    color: var(--colorM);
    margin-bottom: 1vw;
    width: 60%;
    height: auto;
}

.article img {
    width: 60%;
    height: auto;
}

.article a {
    text-decoration: none;
    color: var(--colorM);
    font-size: 15px;
    letter-spacing: 2px;
    width: 60%;
    height: auto;
}

.article a:hover {
    color: var(--colorA);
    cursor: pointer;
}

.article p {
    color: var(--colorM);
    font-size: 18px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 60%;
    height: auto;
}

.article:hover {
    border: 3px solid var(--colorBorder2);
    transform: scale(1.02);
}