@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --c-background: #E5E3FF;

    --c-noir: #272727;
    --c-blanc: #FFFFFF;
    --c-rouge: #A11516;
    --c-jaune: #FCD50B;
    --c-gris: #BFBFBF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    background-color: var(--c-background);
}

h1 {
    font-weight: 700;
    font-size: 30px;
    color: var(--c-noir);
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: var(--c-noir);
}

h4 {
    font-weight: 700;
    font-size: 20px;
    color: var(--c-noir);
}


input[type='text']:focus,
input[type='search']:focus {
    outline: 3px solid var(--c-jaune);
}



a.deco {
    padding: 10px 20px;
    position: fixed;
    right: 18px;
    top: 18px;
    background: var(--c-rouge);
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    color: var(--c-blanc);
    text-decoration: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 500ms ease;
}

a.deco:hover {
    box-shadow: none;
    transition: all 500ms ease;
}

section.ajout {
    margin: 40px 0 0 55px;
}

section.ajout section.pages {
    display: flex;
    margin-top: 63px;
    gap: 45px;
    flex-wrap: wrap;
}

section.ajout_produit {
    padding: 30px 40px;
    width: 900px;
    max-height: 860px;
    background: var(--c-blanc);
    border-radius: 40px;
}

section.ajout_produit .input_text {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

section.ajout_produit input {
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
    outline: none;
}

section.ajout_produit input.nomProduit {
    width: 75%;
    height: 50px;
    background: var(--c-blanc);
    border: 3px solid var(--c-noir);
    border-radius: 10px;
}

section.ajout_produit input.prix {
    width: 23%;
    height: 50px;
    background: var(--c-blanc);
    border: 3px solid var(--c-noir);
    border-radius: 10px;
}

section.ajout_produit select {
    background: var(--c-noir);
    border-radius: 15px;
    padding: 15px 20px;
    color: var(--c-blanc);
    border: none;
    margin-top: 25px;
}

section.ajout_produit h4.title {
    margin-top: 60px;
}

section.ajout_produit .input_search {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

section.ajout_produit input[type="search"] {
    width: 80%;
    height: 45px;
    background: var(--c-blanc);
    border: 3px solid var(--c-noir);
    border-radius: 10px;
}

section.ajout_produit input[type='submit'] {
    padding: 11px 30px;
    background: var(--c-noir);
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    color: var(--c-blanc);
    border: none;
    cursor: pointer;
}

section.ajout_produit .list-aliment ul.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

section.ajout_produit .list-aliment ul.list li.list-item input[type='checkbox'] {
    width: 20px;
    height: 20px;
    left: 103px;
    top: 525px;
    background: var(--c-blanc)  ;
    border: 1px solid var(--c-noir);
    border-radius: 3px;
}

section.ajout_produit .submit_btn {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

section.ajout_produit .submit_btn input[type='submit'] {
    padding: 13px 30px;
    background: var(--c-jaune);
    border-radius: 10px;
    color: var(--c-noir);
    transition: all 500ms ease;
}

section.ajout_produit .submit_btn input[type='submit']:first-child {
    background: var(--c-blanc);
    border: 1px solid var(--c-noir  );
    border-radius: 10px;
    font-weight: 400;
}

section.ajout_produit .submit_btn input[type='submit']:hover {
    background: #e6c10b;
    transition: all 500ms ease;
}

section.ajout_produit .submit_btn input[type='submit']:first-child:hover {
    background: #ededed;
    transition: all 500ms ease;
}




section.ajout_aliment {
    padding: 30px 40px;
    height: 240px;
    width: 500px;
    background: var(--c-blanc);
    border-radius: 40px;
}

section.ajout_aliment input[type="text"] {
    width: 100%;
    height: 50px;
    background: var(--c-blanc);
    border: 3px solid var(--c-noir);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

section.ajout_aliment input[type='submit'] {
    padding: 11px 30px;
    background: var(--c-noir);
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    color: var(--c-blanc);
    border: none;
    cursor: pointer;
}

section.ajout_aliment .submit_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

section.ajout_aliment .submit_btn input[type='submit'] {
    padding: 13px 30px;
    background: var(--c-jaune);
    border-radius: 10px;
    color: var(--c-noir);
    transition: all 500ms ease;
    border: none;
}

section.ajout_aliment .submit_btn input[type='submit']:first-child {
    background: var(--c-blanc);
    border: 1px solid var(--c-noir  );
    border-radius: 10px;
    font-weight: 400;
}

section.ajout_aliment .submit_btn input[type='submit']:hover {
    background: #e6c10b;
    transition: all 500ms ease;
}

section.ajout_aliment .submit_btn input[type='submit']:first-child:hover {
    background: #ededed;
    transition: all 500ms ease;
}