/*Alert*/
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 40px;
    z-index: 1;
    font-family: var(--font-family);
}

#alertsContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#alertsContainer strong {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
}

/*Sectoin-left*/
.section-left {
    position: fixed;
    top: 40px;
    left: 0;
    background-color: var(--bleu-color);
    border: 1px solid rgba(0, 0, 0, 0.616);
    height: calc(100dvh - 40px);
    padding: 50px;
    width: 350px;
}

#weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#weather-info h1 {
    font-size: 25px;
    color: var(--font-color);
    font-weight: 800;
    padding: 10px;
    font-family: var(--font-family);
}

#weather-info p {
    padding: 8px;
    font-size: 18px;
    color: var(--font-color);
    font-weight: 400;
    font-family: var(--font-family2);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    rotate: -90deg;
}

/*main*/
main {
    position: fixed;
    top: 40px;
    padding: 100px;
    width: calc(100dvw - 700px);
    height: calc(100dvh - 40px);
}

.div-presivion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#todayHourlyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#todayHourlyContainer h2,
#tomorrowHourlyContainer h2 {
    font-size: 25px;
    color: var(--font-color);
    font-weight: 700;
    font-family: var(--font-family);
}

#todayHourlyContainer span,
#todayHourlyContainer div,
#tomorrowHourlyContainer span {
    font-size: 18px;
    color: var(--font-color);
    font-weight: 400;
    font-family: var(--font-family2);
}

#tomorrowHourlyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*section-right*/
.section-right {
    position: fixed;
    right: 0;
    width: 350px;
    height: calc(100dvh - 40px);
    top: 40px;
    background-color: var(--bleu-color);
    border: 1px solid rgba(0, 0, 0, 0.616);
    padding: 30px;
}

.prevision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prevision h2 {
    font-size: 25px;
    color: var(--font-color);
    font-weight: 800;
    padding: 10px;
    font-family: var(--font-family);
}

#forecastContainer {
    font-size: 18px;
    color: var(--font-color);
    font-weight: 400;
    font-family: var(--font-family2);
}

#forecastContainer div {
    padding-top: 20px;
}