@import url('font.css');

/*! INITIALISATION DE LA PAGE !*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'The Goldsmith Vintage';
    font-style: normal;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*! INITIALISATION DES COULEURS !*/
:root {
    --c-background: #FFFFFF;

    --c-jaune: #FCD50B;
    --c-blanc: #FFFFFF;
    --c-noir: #000000;
    --c-rouge: #A11516;

    --box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.25);
}



/** NAVBAR **/
header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    height: 100px;
    width: 100%;
}

header ul.list{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

header ul.list img {
    position: absolute;
    top: 5px;
    left: 2rem;
    width: 118px;
    height: auto;
    cursor: pointer;
    transition: transform 500ms;
    transition-timing-function: cubic-bezier(.75, -3, .25, 4);
}

header ul.list img:hover{
    transform: scale(1.1);
}

header li.list-item a {
    font-style: normal;
    margin-right: 5rem;
    font-weight: 700;
    font-size: 25px;
    color: var(--c-blanc);
    transition: all 300ms ease;
}

header li.list-item a:hover:not(section#footer li.list-item a:hover) {
    color: var(--c-jaune);
    transition: all 300ms ease;
}







/** SECTIONS PRESENTATION **/
section#presentation {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#presentation .titre {
    position: absolute;
    z-index: 4;
    color: var(--c-blanc);
    display: flex;
    flex-direction: column;
    text-align: center;
}

section#presentation .moyen {
    display: flex;
    justify-content: center;
    gap: 104px;
    margin-bottom: 44px;
    flex-wrap: wrap;
}

section#presentation .moyen .livraison, .place, .emporte {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: var(--c-blanc);
    display: flex;
    gap: 15px;
}

section#presentation .titre h1 {
    font-family: 'The Goldsmith Vintage';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    white-space: break-spaces;
}

section#presentation .titre span{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

section#presentation .titre span span.uppercase {
    text-transform: uppercase;
}

section#presentation img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}

section#presentation .background {
    background: rgba(0, 0, 0, 0.60);
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
}

section#presentation .reseaux {
    position: absolute;
    z-index: 3;
    bottom: 30px;
    right: 30px;
    display: flex;
    width: 60px;
    height: 60px;
}

section#presentation .reseaux a {
    height: 100%;
    width: 100%;
}




/** SECTIONS PIZZA **/
section#pizza {
    position: relative;
    min-height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#pizza .pizza-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    height: 150px;
    width: 100%;
    margin-top: 60px;
}

section#pizza .pizza-header img.image {
    width: 400.78px;
    height: 310.38px;
}

section#pizza .pizza-header .autres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#pizza .pizza-header .autres .textes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
}

section#pizza .pizza-header .autres .textes .titre {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: var(--c-noir);
}

section#pizza select {
    margin: 0 0 30px 0;
    height: 50px;
    width: 200px;
    font-size: 20px;
    padding-left: 20px;
    background-color: #272727;
    color: var(--c-blanc);
    border-radius: 5px;
    border: none;
}

section#pizza .list-pizza {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

section#pizza .list-pizza .pizza {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--c-blanc);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms ease;
}

section#pizza .list-pizza .pizza:hover {
    transform: scale(1.1);
    transition: 500ms ease;
}

section#pizza .list-pizza .pizza img {
    width: 240px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

section#pizza .list-pizza .pizza .nom-pizza {
    margin-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--c-noir);
    text-align: center;
}

section#pizza .list-pizza .pizza .prix {
    color: var(--c-jaune);
}

section#pizza .list-pizza .pizza .notif {
    position: absolute;
    /* top: -25px;
    right: -33px; */

    top: 30px;
    left: 30px;
    padding: 0.5rem;
    background-color: var(--c-rouge);
    color: var(--c-blanc);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}








section#pate {
    min-height: max-content;
}

section#pate .pate-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}

section#pate .pate-header .textes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 150px;
}

section#pate .pate-header .textes .titre {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: var(--c-noir);
}

section#pate .list-pate {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

section#pate .list-pate .pate {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--c-blanc);
    box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.25);
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms ease;
}

section#pate .list-pate .pate:hover {
    transform: scale(1.1);
    transition: 500ms ease;
}

section#pate .list-pate .pate img {
    width: 240px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

section#pate .list-pate .pate .nom-pate {
    margin-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--c-noir);
    text-align: center;
}

section#pate .list-pate .pate .prix {
    color: var(--c-jaune);
}

section#pate .list-pate .pate .notif {
    position: absolute;
    /* top: -25px;
    right: -33px; */

    top: 30px;
    left: 30px;
    padding: 0.5rem;
    background-color: var(--c-rouge);
    color: var(--c-blanc);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}








section#panini {
    min-height: max-content;
}

section#panini .panini-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}

section#panini .panini-header .textes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 150px;
}

section#panini .panini-header .textes .titre {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: var(--c-noir);
}

section#panini .list-panini {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

section#panini .list-panini .panini {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--c-blanc);
    box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.25);
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms ease;
}

section#panini .list-panini .panini:hover {
    transform: scale(1.1);
    transition: 500ms ease;
}

section#panini .list-panini .panini img {
    width: 240px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

section#panini .list-panini .panini .nom-panini {
    margin-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--c-noir);
    text-align: center;
}

section#panini .list-panini .panini .prix {
    color: var(--c-jaune);
}

section#panini .list-panini .panini .notif {
    position: absolute;
    /* top: -25px;
    right: -33px; */

    top: 30px;
    left: 30px;
    padding: 0.5rem;
    background-color: var(--c-rouge);
    color: var(--c-blanc);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}










section#dessert {
    min-height: max-content;
}

section#dessert .dessert-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}

section#dessert .dessert-header .textes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 150px;
}

section#dessert .dessert-header .textes .titre {
    font-family: 'The Goldsmith Vintage';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: var(--c-noir);
    text-align: center;
    white-space: break-spaces;
}

section#dessert .list-dessert {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

section#dessert .list-dessert .dessert {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--c-blanc);
    box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.25);
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms ease;
}

section#dessert .list-dessert .dessert:hover {
    transform: scale(1.1);
    transition: 500ms ease;
}

section#dessert .list-dessert .dessert img {
    width: 240px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

section#dessert .list-dessert .dessert .nom-dessert {
    margin-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--c-noir);
    text-align: center;
}

section#dessert .list-dessert .dessert .prix {
    color: var(--c-jaune);
}

section#dessert .list-dessert .dessert .notif {
    position: absolute;
    /* top: -25px;
    right: -33px; */

    top: 30px;
    left: 30px;
    padding: 0.5rem;
    background-color: var(--c-rouge);
    color: var(--c-blanc);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}







section#footer {
    height: max-content;
    width: 100%;
    background-color: var(--c-jaune);
    display: flex;
    justify-content: center;
    gap: 80px;
}

section#footer .produits {
    margin-bottom: 20px;
}

section#footer .titre {
    font-family: 'The Goldsmith Vintage';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    text-transform: uppercase;
    color: var(--c-noir);
    white-space: break-spaces;
    margin: 30px 0 10px;
}

section#footer li.list-item a {
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 40px;
    color: var(--c-blanc);
    transition: all 300ms ease;
}

section#footer li.list-item a:hover {
    color: var(--c-noir);
    transition: all 300ms ease;
}








@media screen and (max-width: 1340px) {
    header img{
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    header {
        display: none;
    }

    section#pizza .pizza-header img.image {
        display: none;
    }

    section#pizza .pizza-header {
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    section#dessert .dessert-header .textes {
        gap: 15px;
    }

    section#dessert .dessert-header .textes .titre {
        font-size: 70px;
    }
}

@media screen and (max-width: 820px) {
    section#dessert .dessert-header .textes .titre {
        font-size: 70px;
    }

    section#dessert .dessert-header .textes .stars {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    section#dessert .list-dessert {
        margin-top: 20px;
    }

    section#presentation .moyen {
        gap: 50px;
    }

    section#presentation .moyen .livraison, .place, .emporte {
        font-size: 30px;
    }

    section#footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    section#footer .produits {
        margin-bottom: 0;
    }

    section#footer .mentions {
        margin-bottom: 20px;
    }

    section#footer .produits,
    section#footer .pizzaria,
    section#footer .contact,
    section#footer .mentions {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section#footer .produits ul,
    section#footer .pizzaria ul,
    section#footer .contact ul,
    section#footer .mentions ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    section#footer .titre {
        font-size: 45px;
        text-align: center;
    }

    section#footer li.list-item {
        text-align: center;
    }
    
    section#footer li.list-item a {
        font-size: 35px;
    }
}

@media screen and (max-width: 570px) {
    section#presentation .titre {
        margin-top: -30px;
    }

    section#presentation .titre h1 {
        font-size: 120px;
        line-height: 130px;
        text-align: center;
        margin-left: 10px;
    }

    section#presentation .titre span {
        font-size: 30px;
        line-height: 40px;
    }

    section#presentation .moyen {
        gap: 30px;
    }

    section#presentation .moyen .livraison, .place, .emporte {
        font-size: 25px;
    }
}

@media screen and (max-width: 540px) {
    section#pizza .pizza-header .autres .textes .titre,
    section#pate .pate-header .textes .titre,
    section#panini .panini-header .textes .titre,
    section#dessert .dessert-header .textes .titre {
        font-size: 50px;
    }

    section#dessert .list-dessert {
        margin-top: 40px;
    }

    .textes .stars {
        display: none;
    }

    section#presentation .titre h1 {
        font-size: 80px;
        line-height: 80px;
    }
}